'menu': [{
    'label': 'amWiki',
    'submenu': [{
        'label': 'Generate document website from “config.json”',
        'command': 'amWiki:create'
    }, {
        'label': 'Update current navigation file',
        'command': 'amWiki:makeNav'
    }, {
        'label': 'Extract h2, h3 as in page index',
        'command': 'amWiki:catalogue'
    }, {
        'type': 'separator'
    }, {
        'label': 'Start local document web server ',
        'command': 'amWiki:runServer'
    }, {
        'label': 'View cuurent document in Brower ',
        'command': 'amWiki:browser'
    }]
}]
